<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.ResearchSurveyMapper">

    <resultMap type="ResearchSurvey" id="ResearchSurveyResult">
        <result property="id" column="id"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="surveyDesc" column="survey_desc"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectResearchSurveyVo">
        select id,
               survey_title,
               cover_url,
               survey_desc,
               status,
               user_id,
               dept_id,
               create_time,
               updated_by,
               update_time,
               remark
        from tb_research_survey
    </sql>

    <select id="selectResearchSurveyList" parameterType="ResearchSurvey" resultMap="ResearchSurveyResult">
        <include refid="selectResearchSurveyVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="surveyTitle != null  and surveyTitle != ''">and survey_title like concat('%', #{surveyTitle},
                '%')
            </if>
            <if test="surveyDesc != null  and surveyDesc != ''">and survey_desc = #{surveyDesc}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updatedBy != null  and updatedBy != ''">and updated_by like concat('%', #{updatedBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
        </where>
    </select>

    <select id="selectResearchSurveyById" parameterType="Long" resultMap="ResearchSurveyResult">
        <include refid="selectResearchSurveyVo"/>
        where id = #{id}
    </select>

    <insert id="insertResearchSurvey" parameterType="ResearchSurvey" useGeneratedKeys="true" keyProperty="id">
        insert into tb_research_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyTitle != null and surveyTitle != ''">survey_title,</if>
            <if test="coverUrl != null and coverUrl != ''">cover_url,</if>
            <if test="surveyDesc != null">survey_desc,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyTitle != null and surveyTitle != ''">#{surveyTitle},</if>
            <if test="coverUrl != null and coverUrl != ''">#{coverUrl},</if>
            <if test="surveyDesc != null">#{surveyDesc},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateResearchSurvey" parameterType="ResearchSurvey">
        update tb_research_survey
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyTitle != null and surveyTitle != ''">survey_title = #{surveyTitle},</if>
            <if test="coverUrl != null and coverUrl != ''">cover_url = #{coverUrl},</if>
            <if test="surveyDesc != null">survey_desc = #{surveyDesc},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteResearchSurveyById" parameterType="Long">
        delete
        from tb_research_survey
        where id = #{id}
    </delete>

    <delete id="deleteResearchSurveyByIds" parameterType="String">
        delete from tb_research_survey where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>